* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
}

.main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 10px;
}

.main.active {
  flex: 5;
}

.main.active h3 {
  text-align: center;
}
