* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  display: flex;
}

.main {
  height: 80vh;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
}
.main h3 {
  text-align: center;
}

.main.active {
  flex: 5;
}
